<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../public/styles/first-page.css"> -->
     <link rel="stylesheet" href="../public/styles/page1.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="con-in-header1">
                <div class="title">
                    <h1>CONSTRUCTION DAILY REPORT</h1>
                </div>
            </div>
            
            <div class="con-in-header2">
                <div class="logo-con">
                    <img src="images/test.jpg" alt="logo">
                    <h3>CPMS</h3>
                </div>
            </div>

        </div>


        <div class="main-part">
            <div class="mp-con1">
                <div class="property-address-con">
                    <p>Property Address: </p>
                    <input id="property-address" type="text">
                </div>
            </div>
            




            <div class="mp-con2">
                <div class="mp-con2-box1">
                    <div class="date-con">
                        <p>Date: </p>
                        <input id="date" type="text">
                    </div>
                </div>

                <div class="mp-con2-box2">
                    <div class="conditions-con">
                        <p>W. Conditions: </p>
                        <input id="conditions" type="text">
                    </div>
                </div>

            </div>






            <div class="mp-con3">
                <div class="mp-con3-box1">
                   <div class="project-info-con">
                        <p>Project Info</p>
                        <textarea id="project-info" rows="5" cols="30"></textarea>
                   </div>
                </div>

                <div class="mp-con3-box2">
                   <div class="work-completed-con">
                        <p>Work Completed</p>
                        <textarea id="work-completed" rows="5" cols="30"></textarea>
                   </div>
                </div>

            </div>






            <div class="mp-con4">
                <div class="material-usage-con">
                        <p>Material Usage</p>
                        <textarea id="material-usage" rows="5" cols="30"></textarea>
                   </div>

                   <div class="safety-observations-con">
                        <p>Safety Observations</p>
                        <textarea id="safety-observations" rows="5" cols="30"></textarea>
                   </div>

                   <div class="iac-con">
                        <p>Issues and Conscerns</p>
                        <textarea id="iac" rows="5" cols="30"></textarea>
                   </div>
            </div>


            



        </div>








    </div>
    
    <script src="first-page.js"></script>
</body>
</html>